<div class="mt-[3rem]  p-4 w-full">
  <div class="text-center md:text-start">
    <h3 class="font-sans text-base text-[#3D3D3D] font-bold">Falta pouco...</h3>
    <p class="font-sans text-base text-[#4F4F4F]">Revise seu helpinho, veja se está como você gostaria antes de publica-lo para todos.</p>
  </div>

  <div class="mt-4 w-80% border-2 border-dashed border-[#FF2E6B] p-4">
    <div class="w-full border border-black h-[20rem]">
      <img src="/assets/backgroundHelpinho.svg" alt="Imagem helpinho" class="w-full h-full object-cover" />
    </div>

    <div class="mt-2 flex flex-col gap-2">
      <p class="font-sans text-base text-[#3D3D3D]"><span class="font-bold">Título:</span> {{stepTwoTitle}}</p>
      <p class="font-sans text-base text-[#3D3D3D]"><span class="font-bold">Decrição:</span> {{stepTwoDescription}}</p>
      <p class="font-sans text-base text-[#3D3D3D]"><span class="font-bold">Categoria:</span> {{stepOneCategory}}</p>
      <p class="font-sans text-base text-[#3D3D3D]"><span class="font-bold">Valor solicitado:</span> {{stepThreeValue}}</p>
    </div>
  </div>
</div>