<div class="mt-[5rem] w-full flex items-center justify-center gap-[1rem] flex-wrap">

    <div class="relative w-full lg:w-[55rem]">
        <img src="/assets/search-icon.svg" alt="" class="absolute left-0 top-[50%] translate-y-[-50%] p-[1rem]">
        <input type="search" placeholder="Quem vamos ajudar hoje?" class="w-full h-16 border border-[#B0B0B0] rounded-lg pl-[3rem] text-[#6D6D6D] placeholder:text-[#6D6D6D]" />
    </div>

    <div class="relative w-full lg:w-[25rem]">
        <img src="/assets/arrow-icon.svg" alt="" class="absolute right-0 top-[50%] translate-y-[-50%] p-4">
        <input type="text" placeholder="Escolha uma categoria" class="w-full h-16 border border-[#B0B0B0] rounded-lg pl-[1rem] text-[#6D6D6D] placeholder:text-[#6D6D6D] ">
    </div>
</div>
