<div class="mt-[6rem] max-w-[1240px] flex items-center justify-center mx-auto flex-wrap lg:flex-nowrap">
    <div class="flex flex-col lg:flex-row gap-8 ">
        <div class="flex items-center justify-start gap-5 w-full pl-[-3rem] lg:p-0">
            <h2 class="font-sans text-[2.5rem] text-[#FF2E6B] font-bold">1.</h2>
    
            <div>
                <h3 class="font-sans text-[.8rem] text-[#530020] font-bold">Escolha</h3>
                <p class="font-sans text-[#888888]">Escolha um helpinho que deseja ajudar</p>
            </div>
        </div>
    
        <div class="flex items-center justify-start gap-5 w-full pl-[1rem] lg:p-0">
            <h2 class="font-sans text-[2.5rem] text-[#FF2E6B] font-bold">2.</h2>
    
            <div>
                <h3 class="font-sans text-[.8rem] text-[#530020] font-bold">Doe</h3>
                <p class="font-sans text-[#888888]">O valor é você quem decide, e ele vai todo para quem escolher</p>
            </div>
        </div>
    
        <div class="flex items-center justify-start gap-5 w-full pl-[2rem] lg:p-0">
            <h2 class="font-sans text-[2.5rem] text-[#FF2E6B] font-bold">3.</h2>
    
            <div>
                <h3 class="font-sans text-[.8rem] text-[#530020] font-bold">Aproveite</h3>
                <p class="font-sans text-[#888888]">Doar gera felicidade para você e para quem recebeu. </p>
            </div>
        </div>
    
        <div class="flex items-center justify-start gap-5 w-full pl-[3rem] lg:p-0">
            <h2 class="font-sans text-[2.5rem] text-[#FF2E6B] font-bold">4.</h2>
    
            <div>
                <h3 class="font-sans text-[.8rem] text-[#530020] font-bold">Acompanhe</h3>
                <p class="font-sans text-[#888888]">Fique ligado, acompanhe se o helpinho alcançou o objetivo </p>
            </div>
        </div>
    </div>

</div>